{% extends "base.html" %}

{% block title %}Отзывы{% endblock %}
{% block content %}
<h2>Отзывы</h2>
<a href="{{ url_for('main.add') }}">Добавить отзыв</a>
<ul class="reviews-list">
    {% for review in reviews %}
        <li>
            <span class="announcement-date">{{ review['timestamp'] }}</span>
            <p class="announcement-text"><strong>{{ review['nickname'] }}</strong>: {{ review['content'] }}</p>
            {% if session.get('admin_logged_in') %}
                <!-- Форма для удаления отзыва с методом POST -->
                <form action="{{ url_for('main.delete_review', review_id=review['unique_id']) }}" method="POST" style="display: inline;">
                    <button type="submit" class="delete-button" onclick="return confirm('Вы уверены, что хотите удалить этот отзыв?');">Удалить</button>
                </form>
            {% endif %}
        </li>
    {% endfor %}
</ul>
{% endblock %}
